* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}

#root {
    display: flex;
}

.App {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#container {
    height: 500px;
    min-width: 310px;
    margin: 0 auto;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.Map_and_article {
    flex-direction: row;
    justify-content: space-between;
}

.MapWrapper {
    display: flex;
    justify-content: center;
    height: 80%;
}

.MainPanel {
    background-color: #F3F4F8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 90vh;
}

.SidePanel {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    background-color: #FBFAFF;
}

.Articles {
    display: flex;
    flex-direction: column;
}