.MapContainer {
    display: flex;
    justify-content: center;
    border: 3px solid #E3EBEE;
    border-radius: 23px;
    background-color: white;
    height: 85%;
    width: 80%;
}

.Map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%;
}